.fighters, .chosenFighter, .enemyFighter, .defendingEnemy{
    height: 150px;
    width: 150px;
}

.fighters {
    border: 2px solid black;
}
.chosenFighter {
    border: 5px solid gold;
}

.enemyFighter {
    border: 2px solid black;
}

.defendingEnemy {
    border: 5px solid red;
}